/* To Compile, > RC -r extresources.rc */

  SCHEMAEXPLORER_SUMMARY  TEXT DISCARDABLE "Summary.HTML"
  SCHEMAEXPLORER_OBJECT   TEXT DISCARDABLE "Object.HTML"
  SCHEMAEXPLORER_DATA     TEXT DISCARDABLE "Data.HTML"
  SCHEMAEXPLORER_METADATA TEXT DISCARDABLE "MetaData.HTML"
  

  
